<p class="h5 ms-2">Scope / Area of interest:</p>
<select
  class="form-select form-select mb-3"
  aria-label=".form-select scope"
  id="scope"
>
  <option selected disabled class="text-muted" value="">Select the scope</option>
  <option value="heirachyScope" >
    Heirachy (Country>Division>Upazila>Zila>Union)
  </option>
  <option value="drawScope" disabled>Draw polygon</option>
</select>

<select
  class="form-select form-select mb-3 d-none"
  aria-label=".form-select countries"
  id="countries"
>
  <option selected disabled value="" class="text-muted">Select country</option>
  <option value="Bangladesh">Bangladesh</option>
</select>

<!-- <label for="division" class="form-label">Select Division:</label> -->
<select
  class="form-select form-select mb-3 d-none"
  aria-label=".form-select divisions"
  id="divisions"
>
  <option selected disabled value="" class="text-muted">Select Division</option>
</select>

<!-- <label for="zilas" class="form-label">Select Zila:</label> -->
<select
  class="form-select form-select mb-3 d-none"
  aria-label=".form-select zilas"
  id="zilas"
>
  <option selected disabled value="" class="text-muted">Select Zila</option>
</select>

<!-- <label for="upazilas" class="form-label">Select Upazila:</label> -->
<select
  class="form-select form-select mb-3 d-none"
  aria-label=".form-select upazilas"
  id="upazilas"
>
  <option selected disabled value="" class="text-muted">Select Upazila</option>
</select>

<!-- <label for="unions" class="form-label">Select Union:</label> -->
<select
  class="form-select form-select mb-3 d-none"
  aria-label=".form-select unions"
  id="unions"
>
  <option selected disabled value="" class="text-muted">Select Union</option>
</select>
