<p class="h5 ms-2">Scope / Area of interest:</p>
<select
  class="form-select form-select mb-3"
  aria-label=".form-select scope"
  id="scope"
>
  <!-- <option selected disabled class="text-muted">Select the scope</option> -->
  <option value="heirachyScope">
    Heirachy (Country>Division>Upazila>Zila>Union)
  </option>
  <option selected value="drawScope">Draw polygon</option>
</select>

<select
  class="form-select form-select mb-3 d-none"
  aria-label=".form-select countries"
  id="countries"
>
  <option  disabled class="text-muted">Select country</option>
  <option selected value="Bangladesh">Bangladesh</option>
</select>

<select
  class="form-select form-select mb-3 d-none"
  aria-label=".form-select divisions"
  id="divisions"
>
  <option selected disabled class="text-muted">
    Select Division
  </option>
</select>

<select
  class="form-select form-select mb-3 d-none"
  aria-label=".form-select zilas"
  id="zilas"
>
  <option selected disabled  class="text-muted">Select Zila</option>
</select>

<select
  class="form-select form-select mb-3 d-none"
  aria-label=".form-select upazilas"
  id="upazilas"
>
  <option selected disabled  class="text-muted">
    Select Upazila
  </option>
</select>

<select
  class="form-select form-select mb-3 d-none"
  aria-label=".form-select unions"
  id="unions"
>
  <option selected disabled  class="text-muted">
    Select Union
  </option>
</select>
