<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> secret page</p>
    <form action="/logout" method="post">
        <button class="logout" type="submit">Sign out</button>
    </form>
  </body>
</html>
