<!DOCTYPE html>
<html lang="en">
  <!-- TODO: customize header -->
  <head>
    <%- include('../partials/head'); %>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />
    <link rel="stylesheet" href="/stylesheets/cc_style.css" />
  </head>

  <body class="p-0">
    <main>
      <h1 class="visually-hidden">Crop Classifier - Bangladesh</h1>
      <div class="row h-100 m-0">
        <div class="" style="width: 450px">
          <hr />
          <div>
            <!-- <form action=""> -->
            <div class="mb-3">
              <label for="trainFile" class="form-label"
                >Tablular [Latitude, Longitude, and Crop Class] (.csv)</label
              >
              <input class="form-control" type="file" id="trainFile" />
            </div>
            <label for="trainSplit" class="form-label">Data split ratio:</label>
            <input
              type="range"
              class="form-range"
              min="10"
              max="90"
              step="10"
              value="70"
              id="trainSplit"
              onchange="updateTrainSplit(this.value);"
            />
            <div class="row justify-content-between">
              <div class="col d-inline-flex justify-content-start">
                <div class="d-flex flex-column align-items-center">
                  <input
                    type="number"
                    class="form-control"
                    id="trainPercent"
                    min="10"
                    max="90"
                    step="10"
                    aria-controls="trainSplit validationPercent"
                    onchange="updateTrainSplit(this.value);"
                    style="width: 4.5em"
                  />
                  <label for="trainPercent" class="form-label mt-1"
                    >Training</label
                  >
                </div>
              </div>

              <div class="col d-inline-flex justify-content-end">
                <div class="d-flex flex-column align-items-center">
                  <input
                    type="number"
                    class="form-control"
                    id="validationPercent"
                    min="10"
                    max="90"
                    step="10"
                    aria-controls="trainSplit trainPercent"
                    onchange="updateTrainSplit(this.value);"
                    style="width: 4.5em"
                  />
                  <label for="validationPercent" class="form-label mt-1"
                    >Validation</label
                  >
                </div>
                <div></div>
              </div>
            </div>
            <button class="btn btn-secondary" onclick="postTrain()">
              Train
            </button>
            <!-- </form> -->
            <hr />
            <form action="">
              <button type="button" class="btn btn-secondary">Classify</button>
            </form>
            <hr />
            <form action="/logout" method="post">
              <button type="submit" class="btn btn-secondary">Logout</button>
            </form>
          </div>
        </div>
        <div id="map" class="col h-100"></div>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>
    <script src="/javascripts/cc_script.js"></script>
    <!-- TODO: Footer -->
  </body>
</html>
